$frame-primary-color: rgb(235, 232, 215);
$frame-secondary-color: rgb(250, 250, 250);


@mixin icon--active {
    background-color: rgb(255, 255, 255);
    border: 2px solid #999;
}

.toolbar {
    min-height: 10em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;

    &__icon {
        padding: .3em;
        border-radius: 3px;
        height: 2.2em;
        width: 2.2em;
        box-sizing: border-box;
        border: 2px solid $frame-primary-color;

        &--active {
            @include icon--active();
        }
    }

    &__icon img {
        height: 24px;
        width: 24px;
    }
    &__icon:hover {
        @include icon--active();
    }
    

}