.container {
    display: flex;
    width: 100%;


    .aside {
        width: 5.5em;
        height: 100vh;
        padding: .5em;
        box-sizing: border-box;
        border-top: 2px solid rgb(197, 194, 194);
    }

    .canvas {
        width: auto;
        height: 100vh;
        flex: 1;
        background-color: #FFF;
        border: 5px solid rgb(124, 124, 124);
        border-right: none; 
        margin-right: 4px;
        overflow: scroll;
    }
}

.navbar {
    ul {
        display: flex;
        list-style: none;
    
        li {
            padding: .4em .5em;
        }
    }

}